<div class = "container-fluid mt-5 about-style" id="aboutid">
          <div class="row">
            <div class="col-md-10 col-12 mx-auto">
              <h1 class="text-center main-heading">About Us</h1>
              <p class="text-center sub-heading">Sikka Coaching Institute (Estd:2021)</p>
              <div class="row">

                <div class="col-md-6 col-12 hero-text ">
                    <figure>
                      <img src="images/coaching.jpeg" alt="herosection_image">
                    </figure>
                </div>


                <div class="col-md-6 col-12 hero-text  d-flex justify-content-center align-items-start flex-column">
                  <h1>Your Partner in </h1>
                  <h1>Career Goals.</h1>
                  <p>Established with a vision to empower and guide individuals towards excellence, we take immense pride in being a trusted partner on your  <span class="bold-style">academic journey.</span></p>
                  
                </div>
                
                 </div>
            </div>
          </div>
        </div>