<div class = "container-fluid mt-5 about-style" id="serviceid">
          <div class="row">
            <div class="col-md-10 col-12 mx-auto">
              <h1 class="text-center main-heading">Our Services</h1>
              <p class="text-center sub-heading">Aim Higher With Us</p>
              <div class="row">
                 
                  <div class="col-md-4">
                    <div class="box">
                        <div class="our-services settings">
                                <h1>Study Material</h1>
                                <p>Books and online resources, covering the entire IIT JEE syllabus.</p>
                           
                        </div>
                    </div>
                  </div> 
                  <div class="col-md-4">
                    <div class="box">
                        <div class="our-services settings">
                                <h1>Expert Faculty</h1>
                           <p> Faculty members who have a proven track record of successful coaching.</p>
                        </div>
                    </div>
                  </div> 
                  <div class="col-md-4">
                    <div class="box">
                        <div class="our-services settings">
                                <h1>Doubt Clearing Sessions</h1>
                           <p>Dedicated doubt-solving sessions with faculty.</p>
                        </div>
                    </div>
                  </div> 
                  <div class="col-md-4">
                    <div class="box">
                        <div class="our-services settings">
                                <h1>Mock Tests </h1>
                           <p>Availability of regular mock tests and practice papers designed to simulate the real exam environment</p>
                        </div>
                    </div>
                  </div> 
                  <div class="col-md-4">
                    <div class="box">
                        <div class="our-services settings">
                                <h1>Financial Aid</h1>
                           <p>Discounts or financial aid options available to deserving students.</p>
                        </div>
                    </div>
                  </div> 
                  <div class="col-md-4">
                    <div class="box">
                        <div class="our-services settings">
                                <h1>Workshops</h1>
                           <p> Specialized workshops that focus on specific challenging topics or exam strategies.</p>
                        </div>
                    </div>
                  </div> 

               
                
                 </div>
            </div>
          </div>
        </div>